<aside class="leftbar">
  {{outlet controls}} <hr>
  {{outlet sidebar}}
  {{partial thumbnails}}
</aside>
<section class="slides">
  {{outlet slides}}
</section>
<aside class = "rightbar">
  {{outlet rightbar}}
</aside>