<header class = "header" id = "mainHeader">
  <div id = "secretCode">
    {{partial secretcode}}
  </div>
  {{outlet controls}}
</header>

<aside class="leftbar">
  {{outlet sidebar}}
  {{render slidethumbnails}}
</aside>

<section class="slides">
  {{outlet slides}}
</section>

<aside class = "rightbar">
  {{outlet rightbar}}
</aside>
