<div class="container-fluid">
  <div class="span3 sidebar">
    {{#if App.godMode}}
      {{partial slidecreate}}  
    {{else}}
      {{partial secretcode}} 
    {{/if}}
    {{partial thumbnails}}
  </div>
  <div class="span9 slides">
    {{partial slides}}
  </div>
</div>
