<div id = "btnWrapper">
  {{#if controller.controllers.slideshow.editingMode}}
    <button class="btn-mini btn-danger"
              {{action 'delete' view.content }}>
      X
    </button>
    <button class="btn-mini btn"
         {{action 'moveUp' view.content }}>
      UP 
    </button>
    <button class="btn-mini btn"
        {{action 'moveDown' view.content }}>
      DN 
    </button>
  {{/if}}
</div>

<span class = "nameWrapper">
  <p {{action clickThumbnail view.content }}>{{view.content.name}}
  </p>
</span>
