<section id = "splashpage">
  {{#unless App.loggedIn}}
    <h1 style = "text-align:center;">4-South Ember Slideshows</h1>
    <h4 style = "text-align: center;"> Please login or create a user account </h4>
    <div class = "row-fluid" id = "loginOptions">
      <div class = "span6 offset1">
        {{partial usercreate}}
      </div>
      <div class = "span5">
        {{partial userlogin}}
      </div>
    </div>
  {{else}}
    <h3> Welcome {{controllers.user.content.name}} </h3>
    <h1> {{controllers.user.content.name}}'s Slideshows go here</h1>
  {{/unless}}
</section>