{{#if loggedIn}}
  <li class="controls"> 
    {{#if editingMode}}
      <button class="btn-mini btn-primary" {{action "exitEditing"}}>
        {{editingButtonText}}
      </button>
    {{else}}
      <button class="btn-mini btn-warning" {{action "enterEditingMode"}}>
        {{editingButtonText}}
      </button>
    {{/if}}
  </li>
  <li> <p id = "navlabel"> You logged in as {{username}} </p> </li>

  <li class="controls">
    <button class="btn-mini btn-warning" {{action logout}}>logout</button> 
  </li>
{{else}}
  <li> <p id = "navlabel">{{errorMessage}}</p> </li>
  <li> <p id = "navlabel">username</p> </li>
  
  <li>
    <form class="navbar-form">
      {{view Ember.TextField valueBinding="loginUser"}} 
    </form>
  </li>

  <li> <p id = "navlabel">password</p> </li>
  
  <li>
    <form class="navbar-form">
      {{view Ember.TextField type="password" valueBinding="loginPassword"}} 
    </form>
  </li>
  
  <li class = "controls">
    <button class="btn-mini btn-warning" {{action login}}>Login</button>
  </li>

  <li class = "controls">
    <button class="btn-mini btn-primary" {{action createUser}}>Create</button>
  </li>      
{{/if}}
