{{#if loggedIn}}
  <li class="controls"> 
    {{#if editingMode}}
      <button class="btn-mini btn-primary" {{action "exitEditing"}}>
        {{editingButtonText}}
      </button>
    {{else}}
      <button class="btn-mini btn-warning" {{action "enterEditingMode"}}>
        {{editingButtonText}}
      </button>
    {{/if}}
  </li>
  <li><p id="navlabel">Welcome, {{username}}</p></li>

  <li class="controls">
    <button class="btn-mini btn-warning" {{action logout}}>logout</button> 
  </li>
{{else}}
  <li> <p id = "navlabel">{{errorMessage}}</p> </li>
  <li> <p id = "navlabel">username</p> </li>
  
  <li class = "headerTextfield">
    <form class="navbar-form">
      {{input type=text
              value=loginUser
              maxlength=10
              size=8}} 
    </form>
  </li>

  <li> <p id = "navlabel">password</p> </li>
  
  <li class = "headerTextfield">
    <form class="navbar-form">
      {{input type=password 
              value=loginPassword
              maxlength=10
              size=8}} 
    </form>
  </li>
  
  <li class = "controls">
    <button class="btn-mini btn-warning" {{action login}}>Login</button>
  </li>

  <li class = "controls">
    <button class="btn-mini btn-primary" {{action createEditUser}}>Create/Edit User</button>
  </li>      
{{/if}}
